{% load markup i18n %}
<article class="resources-subnav">
    <ul>
    {% for page in page.get_children %}
        <li><a href="#page-{{ page.slug }}">{{ page.get_menu_title }}</a></li>
    {% endfor %}
    </ul>
</article>
{% for page in page.get_children %}
    {% with page=page.get_object start=start|default:1|add:1 %}
        <article class="resources-subpage" id="page-{{ page.slug }}">
        {% if page.show_title %}
            <h{{ start|default:1 }}>{{ page.title }}</h{{ start|default:1 }}>
        {% endif %}
        {{ page.text|markdown }}
        {{ page.subpages }}
        {% if user.is_staff %}
            <p class="editlink"><a href="{{ page.get_edit_link }}" target="_blank">{% trans "Edit this page" %}</a></p>
        {% endif %}
        </article>
    {% endwith %}
{% endfor %}