{% load markup i18n %}
<article class="resources-subnav">
    <ul>
    {% for page in page.get_children %}
        <li>
            <a href="#page-{{ page.slug }}">{{ page.get_menu_title }}</a>
            {% if page.new %}<small class="fyi">Neu</small>
            {% elif page.fresh %}<small class="fyi">Kürzlich&nbsp;aktualisiert</small>{% endif %}
        </li>
    {% endfor %}
    </ul>
</article>
{% for page in page.get_children %}
    {% with page=page.get_object start=start|default:1|add:1 %}
        <article class="resources-subpage" id="page-{{ page.slug }}">
        {% if page.show_title %}
            <h{{ start|default:1 }}>
                {{ page.title }}
                <a class="headerlink" title="Permalink" href="#page-{{ page.slug }}">¶</a>
            </h{{ start|default:1 }}>
        {% endif %}
        {% if page.text and page.fresh %}<p><small>Aktualisiert <abbr class="timeago" title="{{ page.modified.isoformat }}">{{ page.modified|date:"DATETIME_FORMAT" }}</abbr></small></p>{% endif %}
        {{ page.text|markdown }}
        {{ page.subpages }}
        {% if user.is_staff %}
            <p class="editlink"><a href="{{ page.get_edit_link }}" target="_blank">{% trans "Edit this page" %}</a></p>
        {% endif %}
        </article>
    {% endwith %}
{% endfor %}